In [166]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [167]:
data_x=pd.read_csv('X_train.csv')
data_y=pd.read_csv('y_train.csv')

In [168]:
data_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 4 columns):
city           1456 non-null object
year           1456 non-null int64
weekofyear     1456 non-null int64
total_cases    1456 non-null int64
dtypes: int64(3), object(1)
memory usage: 45.6+ KB

In [170]:
data=pd.merge(data_x,data_y,on=['city','year','weekofyear'])

In [171]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 25 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
total_cases                              1456 non-null int64
dtypes: float64(20), int64(3), object(2)
memory usage: 295.8+ KB

In [172]:
data=data.fillna(method='ffill')

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data.week_start_date=enc.fit_transform(data.week_start_date)
data.city=enc.fit_transform(data.city)


X=data.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]
y=data.total_cases

In [173]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 19 columns):
city                                     1456 non-null int32
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null int32
ndvi_ne                                  1456 non-null float64
ndvi_nw                                  1456 non-null float64
ndvi_se                                  1456 non-null float64
ndvi_sw                                  1456 non-null float64
reanalysis_air_temp_k                    1456 non-null float64
reanalysis_avg_temp_k                    1456 non-null float64
reanalysis_dew_point_temp_k              1456 non-null float64
reanalysis_max_air_temp_k                1456 non-null float64
reanalysis_min_air_temp_k                1456 non-null float64
reanalysis_relative_humidity_percent     1456 non-null float64
reanalysis_specific_humidity_g_per_kg    1456 non-null float64
reanalysis_tdtr_k                        1456 non-null float64
station_avg_temp_c                       1456 non-null float64
station_diur_temp_rng_c                  1456 non-null float64
station_min_temp_c                       1456 non-null float64
dtypes: float64(15), int32(2), int64(2)
memory usage: 216.1 KB

In [174]:
X_train=X
y_train=y

In [175]:
#from sklearn.model_selection import train_test_split
#X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import r2_score
#model=LinearRegression()
#model.fit(X,y)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
#y_predict = model.predict(X_test)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [176]:
X_test=pd.read_csv('X_test.csv')

X_test=X_test.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]

In [177]:
X_test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_relative_humidity_percent      2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_min_temp_c                        9
dtype: int64

In [178]:
X_test=X_test.fillna(method='ffill')
X_test.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_relative_humidity_percent     0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_min_temp_c                       0
dtype: int64

In [179]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
X_test.week_start_date=enc.fit_transform(X_test.week_start_date)
X_test.city=enc.fit_transform(X_test.city)

In [180]:
y_predict=model.predict(X_test)

In [181]:
y_predict

array([  4,   4,   2,   2,   2,   2,   6,   6,   2,   6,   6,   6,   6,
         2,   6,  17,  20,  20,  20,  20,  20,  20,  20,  24,  27,  33,
        27,  33,  44,  44,  26,  27,  26,  26,  26,  21,  21,  17,  17,
        17,  17,  17,  17,  17,  17,  17,  17,  16,  17,  16,  16,  16,
        17,  17,  17,  17,  10,  10,  14,  14,  14,  14,  13,  13,  14,
        18,  18,  25,  60,  60,  60,  64,  64,  68,  68,  89,  92, 140,
       140, 129, 129, 140, 108,  78,  78,  78,  70,  70,  55,  53,  53,
        33,  33,  33,  33,  33,  29,  29,  29,  30,  30,  30,  30,  30,
        23,  23,  23,  19,  19,  20,  19,  26,  19,  26,  26,  26,  26,
        26,  26,  30,  30,  33,  52,  52,  61,  53,  53,  53,  61,  61,
        34,  34,  34,  34,  30,  30,  30,  30,  30,  30,  33,  33,  33,
        33,  13,  13,  13,  13,  13,  13,   8,   8,   6,   6,   6,   6,
         6,  10,   6,  10,  10,  10,  10,  12,  12,  12,  12,  16,  16,
        16,  16,  12,  25,  25,  12,  12,  18,  18,  23,  23,  18,  29,
        29,  31,  31,  25,  31,  31,  22,  22,  22,  22,  26,  26,  25,
        25,  25,  25,  25,  25,  24,  23,  18,  13,  18,  13,  14,  13,
        13,  13,  31,  31,  31,  31,  31,  31,  31,  49,  49,  49,  49,
        42,  55,  72,  72,  89, 115, 115, 115, 179, 272, 302, 302, 333,
       353, 353, 353, 288, 288, 154, 112, 112, 112,  37,  26,  26,  26,
        17,  17,  17,  17,  17,  17,  16,  16,   2,   2,   5,   5,   5,
        20,  26,  20,  26,  26,  30,  26,  30,  33,  53,  30,  53,  53,
        53,  53,  61,  44,  44,  44,  34,  60,  60,  60,  60,  60,  30,
        60,  22,  33,  33,  13,  13,   8,   8,   8,   7,   7,   7,   7,
         7,   7,   7,  10,  10,  10,  10,  10,  10,  10,  10,  10,  10,
        12,  12,  12,  12,  12,  12,  12,  25,  12,  12,  12,  12,  23,
        23,  23,  23,  23,  23,  23,  23,  31,  31,  31,  31,  31,  22,
        22,  25,  25,  25,  25,  25,  25,  25,  18,  18,  18,  18,  18,
        13,  13,  13,  13,  13,  31,  13,  31,  31,  31,  31,  13,  31,
        24,  24,  31,  38,  42,  42,  55,  72,  72,  72, 115, 202, 115,
       202, 272, 333, 333, 221, 333, 154, 154, 154, 154, 154, 154, 154,
        11,  11,  11,  11,  11,  11,  11,  11,  11,  11,   4,   3,   3,
         4,   4,   4,   4,   5,   4,   4,   4,   4,   3,   3,   3,   4],
      dtype=int64)

In [183]:
X_test['total_cases']=y_predict

In [184]:
X_test.head(5)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_relative_humidity_percent,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_min_temp_c,total_cases
0,1,2008,18,0,-0.0189,-0.018900,0.102729,0.091200,298.492857,298.550000,294.527143,301.1,296.4,78.781429,15.918571,3.128571,26.528571,7.057143,21.7,4
1,1,2008,19,1,-0.0180,-0.012400,0.082043,0.072314,298.475714,298.557143,294.395714,300.8,296.7,78.230000,15.791429,2.571429,26.071429,5.557143,22.2,4
2,1,2008,20,2,-0.0015,-0.012400,0.151083,0.091529,299.455714,299.357143,295.308571,302.2,296.4,78.270000,16.674286,4.428571,27.928571,7.785714,22.8,2
3,1,2008,21,3,-0.0015,-0.019867,0.124329,0.125686,299.690000,299.728571,294.402857,303.0,296.9,73.015714,15.775714,4.342857,28.057143,6.271429,24.4,2
4,1,2008,22,4,0.0568,0.039833,0.062267,0.075914,299.780000,299.671429,294.760000,302.3,297.3,74.084286,16.137143,3.542857,27.614286,7.085714,23.3,2

In [185]:
X_test.iloc[:,[0,1,2,19]].to_csv('result.csv')

In [187]:
result=pd.read_csv('result.csv')
result.tail(5)

     Unnamed: 0  city  year  weekofyear  total_cases
411         411     0  2013          22            4
412         412     0  2013          23            3
413         413     0  2013          24            3
414         414     0  2013          25            3
415         415     0  2013          26            4