In [1]:
import pandas as pd

In [2]:
data_x=pd.read_csv('X_train.csv')
data_y=pd.read_csv('y_train.csv')

In [3]:
data_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 4 columns):
city           1456 non-null object
year           1456 non-null int64
weekofyear     1456 non-null int64
total_cases    1456 non-null int64
dtypes: int64(3), object(1)
memory usage: 45.6+ KB

In [5]:
data=pd.merge(data_x,data_y,on=['city','year','weekofyear'])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 25 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
total_cases                              1456 non-null int64
dtypes: float64(20), int64(3), object(2)
memory usage: 295.8+ KB

In [7]:
data=data.fillna(method='ffill')

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data.week_start_date=enc.fit_transform(data.week_start_date)
data.city=enc.fit_transform(data.city)


X=data.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]
y=data.total_cases

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 19 columns):
city                                     1456 non-null int32
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null int32
ndvi_ne                                  1456 non-null float64
ndvi_nw                                  1456 non-null float64
ndvi_se                                  1456 non-null float64
ndvi_sw                                  1456 non-null float64
reanalysis_air_temp_k                    1456 non-null float64
reanalysis_avg_temp_k                    1456 non-null float64
reanalysis_dew_point_temp_k              1456 non-null float64
reanalysis_max_air_temp_k                1456 non-null float64
reanalysis_min_air_temp_k                1456 non-null float64
reanalysis_relative_humidity_percent     1456 non-null float64
reanalysis_specific_humidity_g_per_kg    1456 non-null float64
reanalysis_tdtr_k                        1456 non-null float64
station_avg_temp_c                       1456 non-null float64
station_diur_temp_rng_c                  1456 non-null float64
station_min_temp_c                       1456 non-null float64
dtypes: float64(15), int32(2), int64(2)
memory usage: 216.1 KB

In [9]:
X_train=X
y_train=y

In [10]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=20,max_features=6,random_state=10,n_estimators=20,criterion='gini')
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=20, max_features=6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [11]:
X_test=pd.read_csv('X_test.csv')

X_test=X_test.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]

In [12]:
X_test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_relative_humidity_percent      2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_min_temp_c                        9
dtype: int64

In [13]:
X_test=X_test.fillna(method='ffill')
X_test.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_relative_humidity_percent     0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_min_temp_c                       0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
X_test.week_start_date=enc.fit_transform(X_test.week_start_date)
X_test.city=enc.fit_transform(X_test.city)

In [15]:
y_predict=model.predict(X_test)

In [16]:
y_predict

array([  6,   5,   5,   6,  10,   5,   5,  14,  14,  11,   2,   2,   2,
         7,   0,  12,   2,   2,  20,   2,  51,  18,   2,  44,   2,  52,
         0,  20,   3,   0, 129,  27,  22,  22,  17,  17,  17,  13,  34,
        14,  19,  17,  28,  17,  15,   3,   3,   1,   6,   6,   6,   6,
         6,  17,  10,   3,   3,   0,  12,  26,  10,   3,   2,   2,  12,
         2,  16,  23,   0,  24,  24,  20,   9,   2,  13,  62,  38,   6,
         9,   0,   6,  17,  10,  26,  30,  15,  30,  30,  50,   7,  17,
        38,  20,  17,  15,   8,   4,   7,   6,  16,   7,  13,  17,   7,
         3,  16,  10,  12,  12,   0,   6,  12,  26,  17,  75,  12,   2,
        17,  38,  31,   5,  24,  38,  24,  38,  13, 127, 127,  14,   2,
         0,   2,  67,  30,   6,  17,  26,  30,  16,  17,  23,  11,  11,
        14,  31,  16,  11,   9,   2,   5,   1,   1,   5,  17,   7,   1,
        12,  26,  30,  10,  10,  26,  10,  19, 128,  11,   3,  28,  18,
        17,  10, 220,  14,  17,   9,  43,  38,  30,  27,  17,  43,   6,
        10,  43,  20,   5,  10,  32,   8,  17,  19,  19,  14,   7,  31,
        23,  20,  14,   7,   5,  15,  12,  13,  17,   1,   5,  26,   2,
        17,  10,  17,   3,  12,   0,   3,  12,  26,  12,  17,  11,  11,
        17,  17,  18,   7,   7,   9,  16,  42,  31,   4,  73,  16,  17,
        17,   7,   9,  30,  46,   0,  15,  10,  17,   7,  17,   5,   9,
        13,  18,   9,  10,   7,   7,   2,  17,  17,   1,   8,  17,   7,
         0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
      dtype=int64)

In [17]:
ans=pd.read_csv('Submission_format.csv')

In [18]:
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18            0
1   sj  2008          19            0
2   sj  2008          20            0
3   sj  2008          21            0
4   sj  2008          22            0
5   sj  2008          23            0
6   sj  2008          24            0
7   sj  2008          25            0
8   sj  2008          26            0
9   sj  2008          27            0

In [19]:
ans.total_cases=y_predict
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18            6
1   sj  2008          19            5
2   sj  2008          20            5
3   sj  2008          21            6
4   sj  2008          22           10
5   sj  2008          23            5
6   sj  2008          24            5
7   sj  2008          25           14
8   sj  2008          26           14
9   sj  2008          27           11

In [20]:
ans.to_csv('submission_v3.csv',index=False)