In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data_x=pd.read_csv('X_train.csv')
data_y=pd.read_csv('y_train.csv')

In [3]:
data_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 4 columns):
city           1456 non-null object
year           1456 non-null int64
weekofyear     1456 non-null int64
total_cases    1456 non-null int64
dtypes: int64(3), object(1)
memory usage: 45.6+ KB

In [6]:
data=pd.merge(data_x,data_y,on=['city','year','weekofyear'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 25 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
total_cases                              1456 non-null int64
dtypes: float64(20), int64(3), object(2)
memory usage: 295.8+ KB

In [8]:
data=data.fillna(method='ffill')

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data.week_start_date=enc.fit_transform(data.week_start_date)
data.city=enc.fit_transform(data.city)


X=data.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]
y=data.total_cases

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 19 columns):
city                                     1456 non-null int32
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null int32
ndvi_ne                                  1456 non-null float64
ndvi_nw                                  1456 non-null float64
ndvi_se                                  1456 non-null float64
ndvi_sw                                  1456 non-null float64
reanalysis_air_temp_k                    1456 non-null float64
reanalysis_avg_temp_k                    1456 non-null float64
reanalysis_dew_point_temp_k              1456 non-null float64
reanalysis_max_air_temp_k                1456 non-null float64
reanalysis_min_air_temp_k                1456 non-null float64
reanalysis_relative_humidity_percent     1456 non-null float64
reanalysis_specific_humidity_g_per_kg    1456 non-null float64
reanalysis_tdtr_k                        1456 non-null float64
station_avg_temp_c                       1456 non-null float64
station_diur_temp_rng_c                  1456 non-null float64
station_min_temp_c                       1456 non-null float64
dtypes: float64(15), int32(2), int64(2)
memory usage: 216.1 KB

In [10]:
X_train=X
y_train=y

In [11]:
#from sklearn.model_selection import train_test_split
#X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import r2_score
#model=LinearRegression()
#model.fit(X,y)
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=20,max_features=6,random_state=10)
model.fit(X_train, y_train)
#y_predict = model.predict(X_test)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=20,
                       max_features=6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=10, splitter='best')

In [12]:
X_test=pd.read_csv('X_test.csv')

X_test=X_test.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]

In [13]:
X_test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_relative_humidity_percent      2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_min_temp_c                        9
dtype: int64

In [14]:
X_test=X_test.fillna(method='ffill')
X_test.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_relative_humidity_percent     0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_min_temp_c                       0
dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
X_test.week_start_date=enc.fit_transform(X_test.week_start_date)
X_test.city=enc.fit_transform(X_test.city)

In [25]:
y_predict=model.predict(X_test)

In [30]:
y_predict

array([ 0,  0,  0,  0,  0,  0,  0,  2,  2,  2,  2,  2, 65, 16, 35, 16, 65,
       65, 16, 65, 38,  3, 38, 16, 18,  3, 16, 35,  3,  3, 18, 18,  3,  3,
       18, 17, 17, 16,  3, 16, 10,  7, 17, 17,  3,  3,  3,  1,  2,  3,  3,
        3,  0,  3,  0,  0,  3,  0,  6,  6,  2,  2,  2,  2, 16, 16,  3, 16,
       16,  3, 16, 35, 16, 16, 16, 16,  3,  3,  3, 16,  3, 16, 35,  3, 18,
        3, 18, 18,  6,  6, 16,  6, 18, 10,  6,  9, 15,  3,  3,  3,  3,  3,
        3,  0,  0,  2,  0,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2, 35, 35,
       16, 35, 38, 16, 16, 35, 16, 16, 35, 38,  3,  3, 18, 19, 18,  3, 18,
        3,  3, 18, 18, 12, 26, 14,  7,  3, 15,  9, 11, 18,  3,  3,  3,  1,
        0,  0,  3,  0,  0,  0,  3,  0,  0,  0,  2,  2,  2,  6,  6,  2, 35,
       35, 19, 65, 19, 35, 16, 16, 35, 38, 35, 18, 18, 18, 35, 18, 18, 19,
       19,  3, 19, 18, 18,  6, 19, 18,  7, 18,  7, 15,  7,  3,  3,  3,  3,
        3,  3,  0,  8,  3,  0,  2,  0,  0,  0,  2,  2,  2,  2,  2,  2,  2,
       35, 16, 19, 35, 16, 35,  3,  3,  3, 16,  3, 16, 35, 16, 16, 16, 16,
       35,  3, 18, 18, 18, 26, 19, 18,  3, 16,  3, 10, 10, 18,  3,  3,  3,
        0,  1,  0,  0,  0,  4,  0,  4,  1,  0,  0,  0,  0,  0,  0,  1,  0,
        0,  1,  0,  0,  4,  4,  3, 16,  4, 18,  4,  5, 28,  0,  8,  0, 21,
       21,  0,  0, 18, 18, 26, 14, 63, 18, 10, 18, 35, 63, 27,  6, 27,  0,
        1,  6,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        1,  0,  3,  1,  4,  1, 18, 16,  0, 11, 18, 28, 21,  3, 13, 11, 10,
       14, 21,  0, 26, 14, 21,  0,  0,  5,  0,  0,  9, 11,  4, 37,  3,  4,
        0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  4,  1,  2,  6,  1,  2,  0, 23,  7,  4, 32, 10,
        0,  0, 16,  3,  7, 10,  7,  3,  6, 10, 27,  7,  7,  7,  6,  6,  0,
       14,  8,  4,  0,  1,  0,  1,  1], dtype=int64)

In [31]:
ans=pd.read_csv('Submission_format.csv')

In [32]:
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18            0
1   sj  2008          19            0
2   sj  2008          20            0
3   sj  2008          21            0
4   sj  2008          22            0
5   sj  2008          23            0
6   sj  2008          24            0
7   sj  2008          25            0
8   sj  2008          26            0
9   sj  2008          27            0

In [33]:
ans.total_cases=y_predict
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18            0
1   sj  2008          19            0
2   sj  2008          20            0
3   sj  2008          21            0
4   sj  2008          22            0
5   sj  2008          23            0
6   sj  2008          24            0
7   sj  2008          25            2
8   sj  2008          26            2
9   sj  2008          27            2

In [35]:
ans.to_csv('submission_2.csv',index=False)