In [1]:
import pandas as pd

In [2]:
data_x=pd.read_csv('X_train.csv')
data_y=pd.read_csv('y_train.csv')

In [3]:
data_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 4 columns):
city           1456 non-null object
year           1456 non-null int64
weekofyear     1456 non-null int64
total_cases    1456 non-null int64
dtypes: int64(3), object(1)
memory usage: 45.6+ KB

In [4]:
data=pd.merge(data_x,data_y,on=['city','year','weekofyear'])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 25 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
total_cases                              1456 non-null int64
dtypes: float64(20), int64(3), object(2)
memory usage: 295.8+ KB

In [7]:
data=data.fillna(method='ffill')

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data.week_start_date=enc.fit_transform(data.week_start_date)
data.city=enc.fit_transform(data.city)


X=data.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]
y=data.total_cases

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 0 to 1455
Data columns (total 19 columns):
city                                     1456 non-null int32
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null int32
ndvi_ne                                  1456 non-null float64
ndvi_nw                                  1456 non-null float64
ndvi_se                                  1456 non-null float64
ndvi_sw                                  1456 non-null float64
reanalysis_air_temp_k                    1456 non-null float64
reanalysis_avg_temp_k                    1456 non-null float64
reanalysis_dew_point_temp_k              1456 non-null float64
reanalysis_max_air_temp_k                1456 non-null float64
reanalysis_min_air_temp_k                1456 non-null float64
reanalysis_relative_humidity_percent     1456 non-null float64
reanalysis_specific_humidity_g_per_kg    1456 non-null float64
reanalysis_tdtr_k                        1456 non-null float64
station_avg_temp_c                       1456 non-null float64
station_diur_temp_rng_c                  1456 non-null float64
station_min_temp_c                       1456 non-null float64
dtypes: float64(15), int32(2), int64(2)
memory usage: 216.1 KB

In [8]:
X_train=X
y_train=y

In [9]:
from xgboost import XGBClassifier
model = XGBClassifier(n_estimator=15,learning_rate=2,random_state=10)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=2,
              max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
              n_estimator=15, n_estimators=100, n_jobs=1, nthread=None,
              objective='multi:softprob', random_state=10, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [10]:
X_test=pd.read_csv('X_test.csv')

X_test=X_test.loc[:,['city','year','weekofyear','week_start_date','ndvi_ne','ndvi_nw','ndvi_se','ndvi_sw',
           'reanalysis_air_temp_k','reanalysis_avg_temp_k','reanalysis_dew_point_temp_k','reanalysis_max_air_temp_k',
           'reanalysis_min_air_temp_k','reanalysis_relative_humidity_percent','reanalysis_specific_humidity_g_per_kg',
           'reanalysis_tdtr_k','station_avg_temp_c','station_diur_temp_rng_c','station_min_temp_c']]

In [11]:
X_test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_relative_humidity_percent      2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_min_temp_c                        9
dtype: int64

In [12]:
X_test=X_test.fillna(method='ffill')
X_test.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_relative_humidity_percent     0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_min_temp_c                       0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
X_test.week_start_date=enc.fit_transform(X_test.week_start_date)
X_test.city=enc.fit_transform(X_test.city)

In [14]:
y_predict=model.predict(X_test)

In [15]:
y_predict

array([ 26,  26,  16,  26,  21,   5,  17,  14,  23,  25,  37,  25,  38,
         5,  20,  21,  27,  35,  21,  20,  20,  17,  17,  20,  21,  37,
        37,  35,  71,  37,  37,  37,  37,  26,  37,  21,  37,  17,  26,
        37,  37,  17,  37,  21,  21,  25,  12,  33,  21,   5,  26,  14,
        46,  25,  25,  25,   5,  21,  21,  20,  21,  24,  16,  16,  16,
        16,  68,  33,  25,  35, 112,  16,  24,  68,  15,  34,  21,  56,
        36,  33,  48,  56,  56,  21,  37,  37,  37,  37,  15,  17,  20,
        37,  37,  15,   8,  16,  17,  16,  56,  17,  36,   5,  55,  12,
         5,  21,  26,  18,  20,  20,   5,  21,  17,  53,  21,  16,  21,
        17,  35,  33,  35,  35,  15,  21,  38,  21,  14,  15,  20,  21,
        21,  70,  61,  35,  37,  37,  21,  26,  26,  22,  25,  35,  35,
        37,  20,  17,  37,  37,  28,  37,  17,  37,  18,  14,   7,  17,
         5,  12,  17,   5,   5,  20,  31,  17,   9,  21,  21,  38,  18,
        20,  18,  17,  17,  17,  44,  68,  21,  48,  44,  21,  61,  68,
        16,   5,  34,  61,  35,  35,   5,   5,  17,  17,  37,  37,  17,
        18,  17,  17,  37,  17,  14,  37,  17,  17,   5,   5,  21,  18,
        21,   5,  14,   5,  20,  68,  14,  14,  68,  14,  36,   6,  21,
        33,  16,  15,  21,  25,  21,  38,  21,  21,  33,  33,  38,  20,
        64,  33,  68,  28,  25,  68,  17,  26,  12,  35,  37,   9,  37,
        17,  16,  17,  37,  17,   9,  37,   5,  28,   5,  28,   9,  26,
         0,   7,   0,  25,   6,   6,   9,   0,  11,   6,   9,   6,   6,
         6,   6,  11,   0,  17,  22,   6,  28,  14,   6,  14,  22,  11,
        24,   6,  17,  11,  11,  18,  25,  22,   9,  14,  24,   8,  12,
        17,  14,  24,  14,  17,  17,   0,  24,   5,  11,  24,   8,  24,
        24,  14,  11,   6,   6,   6,   0,   6,   0,  11,  11,   6,   0,
        11,  22,  11,  17,   6,  11,  11,  18,  33,  12,  22,  33,  24,
        22,  17,  24,  24,  11,  20,  24,  11,  25,  37,  24,  24,  11,
        22,  11,  17,   8,  17,  11,  24,  24,  25,   6,   8,   0,   6,
         6,  25,  25,   0,   6,   0,   6,   0,   0,   0,   6,   0,   6,
        11,   0,   6,   6,  11,  11,   6,   6,  33,  35,  28,  28,  33,
        17,  14,  24,   8,  35,  11,  17,  24,  24,  12,  11,  33,  16,
        12,  16,  16,   0,   9,  11,  24,  24,  11,  11,  11,  30,   6],
      dtype=int64)

In [16]:
ans=pd.read_csv('Submission_format.csv')

In [17]:
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18            0
1   sj  2008          19            0
2   sj  2008          20            0
3   sj  2008          21            0
4   sj  2008          22            0
5   sj  2008          23            0
6   sj  2008          24            0
7   sj  2008          25            0
8   sj  2008          26            0
9   sj  2008          27            0

In [18]:
ans.total_cases=y_predict
ans.head(10)

  city  year  weekofyear  total_cases
0   sj  2008          18           26
1   sj  2008          19           26
2   sj  2008          20           16
3   sj  2008          21           26
4   sj  2008          22           21
5   sj  2008          23            5
6   sj  2008          24           17
7   sj  2008          25           14
8   sj  2008          26           23
9   sj  2008          27           25

In [19]:
ans.to_csv('submission_v5.csv',index=False)